html {
    background-color: grey;
}

.title {
    text-align: center;
    margin: auto;
    width: 100%;
    color: black;
}
#container {
    height: 600px;
    width: 600px;
    margin: auto;
    background-color: white;
    display: grid;

}
.change-background-color-on-hover{
    background-color: black;
}
.button-style {
    float: left;
    font-size: 30px;
}